<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                Short a new link
            </div>
            <div class="card-body">
                <form action="/create" method="POST">
                    <div class="form-group">
                        <input 
                            type="text" 
                            name="acronym" 
                            id="acronym" 
                            class="form-control" 
                            placeholder="Acronym" 
                            value="{{url.acronym}}" />
                    </div>
                    <div class="form-group">
                        <input 
                            type="redirectTo" 
                            name="redirectTo" 
                            id="redirectTo" 
                            class="form-control"
                            placeholder="Direct Url" 
                            value="{{url.redirectTo}}" />
                    </div>
                    <div class="form-group">
                        <button>Short it</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
