<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <h5>Login with</h3>
            <div class="oauth-login d-flex justify-content-between mb-5">
                <button class="btn btn-outline-primary">Facebook</button>
                <button class="btn btn-outline-info">Twitter</button>
                <button class="btn btn-outline-danger">Google</button>
                <button class="btn btn-outline-secondary">Github</button>
            </div>

            <hr>

            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <button>Login</button>
                </div>

                <br>
                Don't have any account? 
                <a href="/auth/register">Register now</a>
            </form>
        </div>
    </div>
</div>