<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <style>
            body {
                margin: auto;
                max-width: 500px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .header {
                background-color: #333;
                width: 100%;
                padding: 15px;
                color: #fff;
            }
            .footer {
                background-color: #ddd;
                width: 100%;
            }
            .body {
                padding: 70px 0;
            }
            .btn {
                background-color: #333;
                color: #fff;
                text-decoration: none;
                padding: 10px 15px;
                margin: 8px 0;
                display: inline-block;
            }
        </style>
    </head>

    <body>
        <table class="header">
            <tr>
                <td>
                    <h3>Welcome to Node-Shortener</h3>
                </td>
            </tr>
        </table>

        <table class="body">
            <tr>
                <td>
                    <h3>Activate your account</h3>
                    <p>
                        Thanks for creating account at <b>Node Shortener</b> 
                    </p>
                    <a href="{{btnUrl}}" class="btn">Reset Password</a>
                </td>
            </tr>
        </table>

        <table class="footer">
            <tr>
                <td>
                    Node Shortener
                </td>
            </tr>
        </table>
    </body>
</html>
